<!DOCTYPE html>
{% load static %}
<head>
<title>Travel Tourism</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% comment %} <div class="bg-cover">
{% comment %} <img src="{% static '/media/homepage.jpg' %}" alt="My image"> {% endcomment %}

 {% if user.is_authenticated %}
        
    <li class="">
        <a class="white" href="/logout">Logout</a>
    </li>
    <li class="">
        <a class="white" href="#">Welcome, {{user.username}}</a>
    </li>

    {% else %}
    <li class="">
        <a class="white" href="/login">Login</a>
    </li>

{% endif %}

<div class="wrapper-headline">
<div class="main-headline">
<h1 class="white">Welcome to Anshul's Travel and Booking Website</h1>
<h1 class="white">Kindly check from the options below</h1>
</div>
</div>

<ul id="nav">
            <li><a class="white" href="{% url 'create_order' %}">Book Order</a></li>
            <li><a class="white" href="{% url 'order_details' %}">Order Details</a></li>
            <li><a class="white" href="{% url 'update_order' %}">Update Order</a></li>
        </ul>
        
<div class="page-wrapper p-b-100 font-poppins">
    <div class="wrapper wrapper--w960">
        <div class="pcoded-main-container">
            <div class="pcoded-content">

                {% block content %} {% endblock content %}
            </div>
        </div>
    </div>
</div> 

</body>
</html>