{% extends "index.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

    <div class="card card-4">
            <div class="card-body">

            <h2>{{operation}} Order Details</h2>
            
                <form id = "order-form" method = "GET">
           
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Order Id" aria-label="Order Id" aria-describedby="basic-addon1">
                </div>
              

                <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            
            </div>
        </div>
{% endblock content %}